# Dependencies
pandas>=1.3.0
xlrd>=2.0.0
striprtf>=0.0.22 # For extracting text from RTF
fpdf2>=2.5.0
pypdf>=3.1.0
PyMuPDF>=1.20.0
pywin32>=300
openpyxl>=3.0.0
Pillow>=9.0.0
reportlab>=3.6.0

# For building executables
pyinstaller>=5.10.0

# For testing
pytest>=7.0.0